<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">{{courseName}} -> DOCUMENTOS -> {{currentDocumentSection}}</h6>
      </div>

      <div class="card-body">
        <ul>
          <ng-template #recursiveList let-list>
            <li *ngFor="let item of list">
              {{item.title}}
              <ul *ngIf="item.children.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
              </ul>
            </li>
          </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: foldersStructure }"></ng-container>
        </ul>

      </div>
    </div>
  </div>
</div>
