<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title"  style="color: #14447c;">{{courseName}} -> DOCUMENTOS -> {{currentDocumentSection}}</h1>
      </div>

      <div class="card-body">
        <div fxflex="30%" *ngFor="let item of files">

          <div class="row">
            <div class="col-md-7 col-7">
              {{item[0]}}
              <br />
                <span class="text-muted">
                  <small>Fecha: {{item[1]}}</small>
                </span>
            </div>
            <div class="col-md-3 col-3 text-right">
              <button class="btn btn-sm btn-danger btn-round btn-icon" (click)="onNavigate(item[2])"><i class="fa fa-arrow-down"></i></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
