
<button  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-lg" (click)="goToGrades()">Ver mis notas</button>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <button  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-lg" (click)="toCurrentSection()">{{courseName}} </button>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <button  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-lg" (click)="toDocumentsSection()">Documentos </button>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
      <button  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-lg" (click)="toAssignmentsSection()">Evaluaciones </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"  style="color:#14447c">Sección de Noticias</h4>
      </div>
      <div class="card-body">
        <div fxflex="30%" *ngFor="let item of news">
            <div class="row">
              <div class="col-md-7 col-7">
                {{item[0]}}
                <br />
                <span class="text-muted">
                  <small>Fecha: {{item[1]}} - Hora: {{item[4]}}</small>
                </span>
              </div>
              <div class="col-md-3 col-3 text-right">
                <button class="btn btn-sm btn-danger btn-round btn-icon" (click)="toNewsSection(item[0],item[1],item[2], item[3])"><i class="fa fa-arrow-right"></i></button>
              </div>
            </div>
        </div>

     </div>
    </div>
  </div>
</div>

