<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="/">
                        Términos y Condiciones
                    </a>
                </li>
                <li>
                    <a href="/">
                        Versión Estable: 1.0.0
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, <a href="/">xtecDigital</a> Sitio realizado con fines educativos
        </div>
    </div>
</footer>
