
<div class="container">
  <div class="row justify-content-center align-items-center">
    <form class="col-6">
      <div class="imgcontainer">
        <img src="./../../../assets/img/xtecdigital-logo.png" alt="xtecdigital-logo" class="logo">
      </div>

      <div class="container">
        <label for="username"><b>Nombre de Usuario</b></label>
        <input type="text" #username placeholder="Enter Username" name="uname" required>

        <label for="password"><b>Contraseña</b></label>
        <input type="password" #password placeholder="Enter Password" name="psw" required>

        <button class="btn btn-primary btn-block text-uppercase" style="background-color: #14447c;" (click)="verifyLogin(username.value,password.value)">Iniciar Sesión</button>
      </div>

    </form>
    <div class="col-4">
      <a (click)="toAdminLayout()"><h4>Vista Administrador</h4></a>
      <a (click)="toProfessorLayout()"><h4>Vista Profesor</h4></a>
      <a href=""><h4>Vista Estudiante</h4></a>
    </div>

  </div>
</div>
