<div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title"  style="color: #14447c;">{{courseName}} -> EVALUACIONES</h1>
      </div>

      <div class="card-body">
        <div fxflex="30%" *ngFor="let item of assignments">

          <div class="text-muted card-columns">
            <a (click)="populateDocs(item[0])"><p><i class="fa fa-folder"></i>  {{item[0]}} </p></a>
            <!--<p>{{item[1]}}</p>-->
              <button class="btn btn-sm btn-danger btn-round btn-icon" (click)="downloadFile(item)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-sm btn-danger btn-round btn-icon" (click)="downloadFile(item)"><i class="fa fa-shopping-basket"></i></button>

          </div>

        </div>
        <button  class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-lg" (click)="openModal(create_header_modal)"><i class="fa fa-plus"></i></button>
      </div>
    </div>
  </div>
</div>


<ng-template #create_header_modal let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Crear Rubro</h4>
  </div>
  <div class="modal-body" >
    <form>
      <div class="form-group mb-6">
          <label for="title"><b>Título del Rubro</b></label>
          <input type="text" #title placeholder="Título del Rubro" required style="width: 100%;">
        </div>
        <div class="form-group mb-6">
          <label for="title"><b>Porcentaje</b></label>
          <input type="text" #title placeholder="Porcentaje" required style="width: 100%;">
        </div>
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-success"  (click)="modal.close()">Crear</button>
      <button type="button" class="btn btn-warning" (click)="modal.close()">Cancelar</button>
  </div>
</ng-template>

