<div>
  <button type="button" class="btn btn-outline-danger" (click)="openModal(create_course_modal)">Crear</button>
  <button type="button" class="btn btn-outline-danger" (click)="openModal(update_course_modal)">Actualizar</button>
  <button type="button" class="btn btn-outline-danger" (click)="openModal(delete_course_modal)">Eliminar</button>
  <admin-courses></admin-courses>
</div>

<ng-template #create_course_modal let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Crear Curso</h4>
  </div>
  <div class="modal-body" style="justify-content: center;align-items: center;display: inline-block;vertical-align: middle;padding-left: 25%;">
    <form>
      <input #course_name type="text" placeholder="Nombre">
      <input #course_credits type="text" placeholder="Créditos">
      <input #course_career type="text" placeholder="Carrera">
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="createCourse(course_name.value, course_credits.value, course_career.value)" (click)="modal.close()">Actualizar</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
  </div>
</ng-template>

<ng-template #update_course_modal let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Actualizar Curso</h4>
  </div>
  <div class="modal-body" style="justify-content: center;align-items: center;display: inline-block;vertical-align: middle;padding-left: 25%;">
    <form>
      <input #course_id type="text" placeholder="Código">
      <input #course_name type="text" placeholder="Nombre">
      <input #course_credits type="text" placeholder="Créditos">
      <input #course_career type="text" placeholder="Carrera">
    </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="updateCourse(course_id.value, course_name.value, course_credits.value, course_career.value)" (click)="modal.close()">Actualizar</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
  </div>
</ng-template>

<ng-template #delete_course_modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Eliminar Curso</h4>
    </div>
    <div class="modal-body" style="justify-content: center;align-items: center;display: inline-block;vertical-align: middle;padding-left: 25%;">
      <form>
        <input #course_id type="text" placeholder="Código del Curso">
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteCourse(course_id.value)" (click)="modal.close()">Eliminar</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
    </div>
  </ng-template>