<div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            <div fxflex="30%" *ngFor="let item of _courses">
  
            <div class="card">
              <div class="card-header">
                <h1 class="card-title"  style="color: #14447c;">{{item[0]}}</h1>
              </div>
  
              <div fxFlex="30%" *ngFor="let data of item[1]">
                <div class="card-body">
                  <span  class="text-muted">
                    <a (click)="goToCourse(data[1], data[0], item[0])"><p style="padding-left: 10px;">{{data[1]}}: {{data[0]}}</p></a>
                  </span>
                </div>
            </div>
  
            </div>
  
          </div>
        </div>
      </div>
</div>
